// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favorite-top {
    color: #f0ffff; /* 文字色 */
    margin: 0 auto;
    width: 20%;
    padding-top: 1%;
    font-size: 65px;
    font-family: "Comic Sans MS";
}
