.top {
background: -webkit-linear-gradient(#FFF, #FFC778 30%, #F89174 60%, #748af8);
background: -moz-linear-gradient(#FFF, #FFC778 30%, #F89174 60%, #748af8);
background: -o-linear-gradient(#FFF, #FFC778 30%, #F89174 60%, #748af8);
background: linear-gradient(#FFF, #FFC778 30%, #F89174 60%, #748af8);
} 